<form class="Eliminar" method="post" action="{{ path('producto_delete', {'id': producto.id}) }}" onsubmit="return confirm('Estás seguro que queres eliminar éste producto?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ producto.id) }}">
    <button class="btn_eliminar">Eliminar</button>
</form>
