<form class="Eliminar" method="post" action="{{ path('categoria_delete', {'id': categorium.id}) }}" onsubmit="return confirm('Estás seguro que queres eliminar ésta categoria?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorium.id) }}">
    <button class="btn_eliminar">Eliminar</button>
</form>
